extends layout

block content
  h1 Week-3 Assignments
  form(action='/trackName', method='get')
    label Please enter your name:
      input(type='text', name='name')
    button(type='submit') Submit
