extends layout

block content
    h1 Welcome to the Site!
    p #{text}
    form(action='/login' method='POST')
        h3.content Log in
        label Email
        br
        input(name='email' type='text')
        br
        label Password
        br
        input(name='password' type='text')
        br
        button(type='submit') Submit
        br
        a(href='register') Not a member?